
<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Codefeed - Share and Solve </title>
    <link rel="stylesheet" href="main.css">    
    <style type="text/css">
    </style>
  </head>

  <body>
    <h1>Codefeed - Share and solve .</h1>
    <section class="window">
      <header class="window-header">
        <nav class="window-controls">
          <span class="control-item control-minimize js-minimize">‒</span>
          <span class="control-item control-maximize js-maximize">□</span>
          <span class="control-item control-close js-close">˟</span>
        </nav>
    </header>
      <main class="window-content">
        <div class="window-cursor">
          <span class="i-cursor-indicator">></span><span class="i-cursor-underscore"></span>
          <input type="text" class="window-input js-prompt-input" />
        </div>
      </main>
    </section>

    <div class="prompt-shortcut i-prompt hidden js-open"></div>
    <br />
    <a href="/auth/facebook" class="button">Login with Facebook</a>
    <a href="/signup" class="button b1">Signup</a>
    <a href="/login" class="button b2">Login</a>
    
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script type="text/javascript" src='main.js'></script>    
  </body>
</html>
 
